debug: false
spring:
  profiles:
    active: cc-test
  jpa:
    show-sql: false
    open-in-view: true
  jackson:
    date-format: yyyy-MM-dd HH:mm:ss
  http:
    encoding:
      force: true
  freemarker:
    enabled: true
    template-loader-path: classpath:/templates/
#  security:
#    user:
#      password: password
#      name: xgc
server:
  port: 6088
  tomcat:
    uri-encoding: UTF-8
    max-threads: 20
  servlet:
    context-path: /ums
security:
  oauth2:
    store-type: redis
    authorization:
      token-key-access: isAuthenticated()
      check-token-access: permitAll()
    client:
      clientId: acme
      clientSecret: '{noop}a810aa0e8ffcf7a2c0827ace79fea89d'
      authorized-grant-types: authorization_code,refresh_token,password
      scope: select,all
logging:
  level:
    org:
      springframework:
        security: DEBUG
#framark配置